table {
  border-spacing: 0;
  border: 2px solid #2f9f2f;
  border-radius: 7px;
  color: white;
}
table tr:last-child td {
  border-bottom: 0;
}
table th,
table td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 2px solid #2e852e;
  border-right: 1px solid #2e852e;
  position: relative;
}
table th:last-child,
table td:last-child {
  border-right: 0;
}
table tr:nth-child(even) {
  /* background-color: #fafafa; */
  background-color: #01310b;
}

table th::before {
  position: absolute;
  right: 15px;
  top: 16px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
table th.sort-asc::before {
  border-bottom: 8px solid white;

}
table th.sort-desc::before {
  border-top: 8px solid white;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #094615;

}
input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #c2aeae;
  box-shadow: none;
  color: rgb(74, 71, 71);
  background-color: rgb(147, 191, 152);
}

.btn.btn-success {
  margin-left: 40px;
  background-color: #01310b ;
  color: white;
  border-color: #2f9f2f;
  border-width: 1px;
}
